* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-direction: row;
}

ul > li {
    padding: 10px 20px;
    border: 1px solid black;
    list-style: none;
}

ul > li:hover {
    border: 1px solid red;
}

ul > li:active {
    font-family: 'Lucida Sans';
}

ul > li:focus {
    background-color: green;
}

ul > li:nth-child(odd) {
    color: grey;
}

ul > li::before {
    content: ">>";
}

@media only screen and (max-width: 700px) {
    ul {
        flex-direction: column;
    }
}